{
  "extends": ["react-app", "prettier", "prettier/react"],
  "rules": {
    "no-var": 2,
    "no-unused-vars": 2,
    "strict": [2, "never"],
    "react/jsx-uses-vars": 2,
    "react/jsx-no-undef" : 2,
    "react/jsx-uses-react": 2,
    "react/react-in-jsx-scope": 2,
    "import/no-webpack-loader-syntax": "off",
    "no-useless-constructor": 0,
    "array-callback-return": 0,
    "lines-between-class-members": ["error", "always"]
  }
}